body {
    font-family: sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.menu-container {
    display: flex;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 115px;
    padding: 20px;
}

.menu-item {
    display: flex;
    flex-direction: column; /* Organiza o ícone e o texto verticalmente */
    justify-content: center; /* Centraliza verticalmente (no eixo principal, agora vertical) */
    align-items: center;     /* Centraliza horizontalmente (no eixo cruzado) */
    text-decoration: none;
    color: #333;
    padding: 10px 20px;
    transition: background-color 0.3s, color 0.1s;
}

.menu-item:hover {
    background-color: #FF8DA1;
    color: #eee;
    border-radius: 20px;
}

.text {
    font-size: 14px;
    margin: 0;
}






.rounded-p{
    border: 1px solid #FF6200;
    background-color: #eeeeee;
/*    padding:  ;  top right bottom left */
    border-radius: 20px;
  
  }