/*reset*/
* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #f6eff0;
}

.h3-body {
  text-align: center;
  font-size: 35px;
  padding-top: 20px;
}

h1,
h2,
h3,
h4,
h5 {
  color: #30171b;
}

p,
label {
  color: #444;
}

input {
  border: none;
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
}

input[type="text"],
input[type="number"],
input[type="date"],
input[type="file"],
textarea {
  width: 60%;
}

textarea {
  padding: 10px 5px;
}

/* page header */
.header {
  height: 160px;
  padding: 20px;
  background-color: #bc6a78;
}

.header h3 {
  color: #fff;
  margin-top: 0;
}

/* form container */
.form-container {
  background-color: #fff;
  width: 60%;
  margin: 0 auto;
  position: relative;
  top: -62px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

/* Form header */
.form-header {
  border-bottom: 1px solid #dfdfdf;
  height: 45px;
}

.form-header p {
  color: #8a4c57;
  border-bottom: 2px solid #8a4c57;
  width: 100px;
  text-align: center;
  margin: 0 auto;
  text-transform: uppercase;
  height: 45px;
  line-height: 45px;
}

/* form */
.form-body {
  padding: 30px;
}
.form-title {
  margin-bottom: 15px;
}

.form-body p {
  margin-bottom: 20px;
}

.required-field {
  color: #d80835;
}

.box-input {
  margin-bottom: 35px;
}

.block {
  display: block;
  margin-bottom: 8px;
}

.box-input p {
  margin-bottom: 15px;
}

.button-submit {
  background-color: #8a4c57;
  color: #fff;
  padding: 12px 25px;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
}

.btn-submit {
  background-color: #8a4c57;
  color: #fff;
  border: 2px solid transparent;
  width: 150px;
  height: 50px;
  cursor: pointer;
  text-transform: uppercase;
  transition: 0.5s;
  border-radius: 15px;
}

.btn-submit:hover {
  background-color: transparent;
  color: #8a4c57;
  border: 2px solid #8a4c57;
}

input[type="file"] {
  border: none;
}
