body {
  padding-bottom: 500px;
}

h3 {
  color: green;
}
p {
  color: royalblue;
}

.paragraph {
  background-color: #000;
  color: aqua;
  padding: 5px;
}

/* ids */

#exclusive-title {
  background-color: purple;
  color: yellow;
  padding: 40px;
}

/* ordem das regras CSS aplicadas aqui */
h2 {
  border-bottom: 2px solid red;
}
.titulo {
  border-bottom: 3px solid blue;
}

#algum-titulo {
  border-bottom: 4px solid green;
}

/* nome de cores */
.color-name {
  color: crimson; 
}
/* valor hexadecimal */
.color-hex{
  color: #FBC305;
}

/* aprofundando em hex */ 
.simple-hex {
  color: #333; 
}

.simple-hex-2 {
  color: #a5f; 
}

/* valor rgb */
.rgb {
  color: rgb(255, 0, 0); 
}

.mixed-rgb {
  color: rgb(199, 21, 47)
}

/* valor rgba */
.rgba {
  color: rgba(100, 199,45, 0.3);
}

/* valor hsl */
.hsl1 {
  color: hsl(100, 20%, 50%);
}

.hsl2 {
  color: hsl(201, 82%, 48%);
}