body {
  padding-bottom: 500px;
}

h3 {
  color: green;
}
/*
p {
  color: royalblue;
}
*/
.paragraph {
  background-color: #000;
  color: aqua;
  padding: 5px;
}

/* ids */

#exclusive-title {
  background-color: purple;
  color: yellow;
  padding: 40px;
}

/* ordem das regras CSS aplicadas aqui */
h2 {
  border-bottom: 2px solid red;
}
.titulo {
  border-bottom: 3px solid blue;
}

#algum-titulo {
  border-bottom: 4px solid green;
}

/* nome de cores */
.color-name {
  color: crimson; 
}
/* valor hexadecimal */
.color-hex{
  color: #FBC305;
}

/* aprofundando em hex */ 
.simple-hex {
  color: #333; 
}

.simple-hex-2 {
  color: #a5f; 
}

/* valor rgb */
.rgb {
  color: rgb(255, 0, 0); 
}

.mixed-rgb {
  color: rgb(199, 21, 47)
}

/* valor rgba */
.rgba {
  color: rgba(100, 199,45, 0.3);
}

/* valor hsl */
.hsl1 {
  color: hsl(100, 20%, 50%);
}

.hsl2 {
  color: hsl(201, 82%, 48%);
}

/* valor de background-color */
.bg {
  background-color: #000;
  color: yellow;
}

.bg2 {
  background-color: rgb(200, 20, 40);
  color: #00eaff;
}

/* opacidade no bg */
.bg-opacity {
  background-color: green;
  opacity: 0.2;
  padding: 2px;
}
.bg-opacity2 {
  background-color: #999;
  color: #000;
  opacity: 0.8;
  padding: 2px;
}

/* RGBA com opacidade */
.rgba-opacity {
  background-color: rgba(90, 120, 20, 0.2);
  color: #000;
}

/* BG image */
.bg-image {
  background-image: url('../img/javaScript.png');
  padding: 10px;
  color: yellow;
}

/* Centralizando bg image */
.not-centered-bg,
.centered-bg {
  height: 400px;
  width: 400px;
  background-image: url('../img/html\ e\ css.png');
}

.centered-bg {
  background-position: center;
  background-size: cover;
}

/* Altura e largura */
.height-width{
  height: 200px;
  width: 100px;
  background-color: #FF6200;
  color: #fff;
}

.height-width-2{
  height: 300px;
  background-color: #3B85FA;
  color: #fff;
}

/* Padding */
.without-padding,
.padding{
  background-color: #111;
  color: #fff;
}

.padding{
  padding: 20px;
}