body {
  padding-bottom: 500px;
}

h3 {
  color: green;
}
p {
  color: royalblue;
}

.paragraph {
  background-color: #000;
  color: aqua;
  padding: 5px;
}

/* ids */

#exclusive-title{
  background-color: purple;
  color: yellow;
  padding: 40px;
}

/* ordem das regras CSS aplicadas aqui */
h2 {
  border-bottom: 2px solid red;
}
.titulo{
  border-bottom: 3px solid blue;
}

#algum-titulo {
  border-bottom: 4px solid green;
}
