/* media query */
h1 {
    color: red;
}

@media screen and (max-width: 500px) {
    h1 {
        color: blue;
    }
}

@media screen and  (min-width: 501px) and (max-width: 800px) {
    h1 {
        color: green;
    }
}

/* Landscape */
h3 {
    display: none;
}

@media screen and (orientation: landscape) {
    h3 {
        display: block;
    }
}