* {
  margin: 0;
  padding: 0;
  font-family: Helvetica;
  box-sizing: border-box;
}

h1,
h2,
h3 {
  color: #333;
}

p {
  color: #70747a;
}

/* Navbar */
.navbar-container {
  width: 100%;
  height: 80px;
  background-color: #232a31;
  padding: 0 2rem;

  & navbar {
    position: relative;
  }

  .navbar-items {
    position: absolute;
    right: 0;
    height: 80px;
    line-height: 80px;
    padding-right: 30px;
    display: inline-block;
  }

  & li {
    display: inline-block;
    text-transform: uppercase;
    margin-left: 25px;
  }

  & a {
    text-decoration: none;
    color: #fff;
    transition: 0.5s;

    &:hover {
      color: #f7941d;
    }
  }
}

.logo {
  width: 50px;
  margin-top: 15px;
}

/* Button */
.default-btn {
  padding: 15px 20px;
  background-color: #2cc76a;
  border-radius: 5px;
}

/* Banner */
.main-banner {
  background-image: url("../img/mainbanner.png");
  background-size: cover;
  background-position: center;
  padding: 10rem 0;

  & h1,
  p {
    color: #fff;
    text-align: center;
    font-weight: bold;
    text-shadow: #000 3px 2px 3px;
  }

  & h1 {
    font-size: 54px;
  }

  & p {
    font-size: 32px;
  }
}

/* Service */
.services-container {
  padding: 5rem 0;

  & ul {
    display: flex;
    width: 90%;
    margin: 0 auto;
  }

  & li {
    flex: 1 1 200px;
    list-style: none;
    text-align: center;
    padding: 20px;
  }

  & h3 {
    margin-bottom: 25px;
  }

  & p {
    line-height: 25px;
  }
}

/* Icones */
.fas {
  font-size: 60px;
  margin-bottom: 15px;
}

.fa-shield-alt {
  color: #2cc76a;
}

.fa-rocket {
  color: #ef3f29;
}

.fa-comments {
  color: #ef8f29;
}

/* prices and plans */
.pricing-container {
  padding-bottom: 5rem;
  text-align: center;

  & h2 {
    font-size: 36px;
  }

  & p {
    font-size: 20px;
  }
}

.plans-container {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 50px auto 0;
}

.plan {
  flex: 1;
  max-width: 275px;
  margin: 0 20px;

  & ul {
    padding: 0;
  }

  & li {
    list-style: none;
    height: 50px;
    line-height: 50px;
    background-color: #e8e9ea;
    color: #333;
  }

  .price {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: #2cc76a;
    color: #fff;
    text-align: center;
    line-height: 120px;
    margin: 0 auto -50px;
    font-size: 18px;
    position: relative;
  }

  .plan-name {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    background-color: #202b34;
    padding: 50px 0;
  }

  .plan-btn {
    background-color: #2cc76a;
    color: #fff;
    font-size: 24px;
    height: 75px;
    line-height: 75px;
    cursor: pointer;
  }

  .recommended {
    background-color: #ef3f29;
  }
}

/* Search domain */
.searchdomain-container {
  background-color: #34454e;
  text-align: center;
  padding: 5rem 0;

  h2 {
    color: #fff;
    font-size: 42px;
    margin-bottom: 15px;
  }

  p {
    color: #d5d5d5;
    font-size: 24px;
    margin-bottom: 25px;
  }

  input {
    display: block;
    border: none;
    border-radius: 5px;
    margin: 0 auto;
  }

  input[type="text"] {
    width: 60%;
    padding: 20px;
    font-size: 20px;
    margin-bottom: 25px;
  }

  input[type="submit"] {
    background-color: #2cc76a;
    padding: 15px 30px;
    color: #fff;
    font-size: 24px;
    cursor: pointer;
    opacity: 0.9;
  }
}

.searchdomain-container input[type="submit"]:hover {
  opacity: 1;
}

/* Contact container */

.contact-container {
  text-align: center;
  padding: 5rem 0 2rem 0;

  p {
    font-size: 20px;
    margin-bottom: 40px;
  }

  input,
  textarea {
    width: 200px;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin: 0 10px 20px;
  }

  textarea {
    display: block;
    margin: 0 auto 20px;
    max-width: 470px;
    max-height: 150px;
    min-width: 150px;
    min-height: 100px;
  }

  input[type="submit"] {
    display: block;
    margin: 0 auto;
    background-color: #2cc76a;
    color: #fff;
    cursor: pointer;
  }
}

/* Footer */
footer {
  text-align: center;
  font-weight: bold;
  margin: 20px 0 100px;
}

/* Responsividade */

/* small laptos a partir de 1100px */
@media (max-width: 1100px) {
  .plans-container {
    width: 95%;
  }
  .plan {
    margin: 0 5px;
  }
}

/* Tablet */
@media (max-width: 900px) {
  .main-banner p {
    padding: 0 6rem;
  }

  .search-domain-container {
    padding: 4rem;
  }
}

/* celular 576px */
@media (max-width: 576px) {
  html,
  body {
    overflow-x: hidden;
  }

  .navbar-items li {
    font-size: 2px;
    margin-left: 10px;
  }

  .navbar-items ul {
    flex-direction: column;
  }

  .main-banner p {
    padding: 0 2rem;
  }

  .plans-container {
    flex-direction: column;
    width: 100%;
  }

  .plan {
    width: 100%;
    max-width: 100%;
  }

  .contact-container {
    padding: 2rem 2rem;
  }
}
