* {
  margin: 0; /* zera margens e paddings de todos os elementos */
  padding: 0; /* zera margens e paddings de todos os elementos */
  font-family: Helvetica; /* define a fonte padrão como Helvetica */
  box-sizing: border-box; /* inclui bordas e paddings na largura e altura totais dos elementos */
}

h1,
h2,
h3 {
  color: #333; /* cor padrão para títulos */
}

p {
  color: #70747a; /* cor padrão para parágrafos */
}

/* Navbar */
.navbar-container {
  width: 100%; /* largura total */
  height: 80px; /* altura fixa */
  background-color: #232a31; /* cor de fundo */
  padding: 0 2rem; /* espaçamento interno nas laterais */

  & navbar {
    position: relative; /* posicionamento relativo para permitir posicionamento absoluto dos itens */
  }

  .navbar-items {
    position: absolute; /* posicionamento absoluto */
    right: 0; /* alinha à direita */
    height: 80px; /* altura fixa */
    line-height: 80px; /* alinha verticalmente os itens */
    padding-right: 30px; /* espaçamento à direita */
    display: inline-block; /* exibe os itens em linha */
  }

  & li {
    display: inline-block; /* exibe os itens em linha */
    text-transform: uppercase; /* transforma o texto para maiúsculas */
    margin-left: 25px; /* espaçamento entre os itens */
  }

  & a {
    text-decoration: none; /* remove sublinhado dos links */
    color: #fff; /* cor do texto dos links */
    transition: 0.5s; /* transição suave para efeitos de hover */

    &:hover {
      color: #f7941d; /* cor do texto ao passar o mouse */
    }
  }
}

.logo {
  width: 50px; /* largura da logo */
  margin-top: 15px; /* espaçamento superior */
}

/* Button */
.default-btn {
  padding: 15px 20px; /* espaçamento interno */
  background-color: #2cc76a; /* cor de fundo */
  border-radius: 10px; /* bordas arredondadas */
}

/* Banner */
.main-banner {
  background-image: url("../img/mainbanner.png"); /* imagem de fundo */
  background-size: cover; /* cobre toda a área */
  background-position: center; /* centraliza a imagem */
  padding: 10rem 0; /* espaçamento interno superior e inferior */

  & h1,
  p {
    color: #fff; /* cor do texto */
    text-align: center; /* centraliza o texto */
    font-weight: bold; /* negrito */
    text-shadow: #000 3px 2px 3px; /* sombra no texto */
  }

  & h1 {
    font-size: 54px;  /* tamanho da fonte */
  }

  & p {
    font-size: 32px; /* tamanho da fonte */
  }
}

/* Service */
.services-container {
  padding: 5rem 0; /* espaçamento interno superior e inferior */

  & ul {
    display: flex; /* exibe os itens em linha flexível */
    width: 90%; /* largura de 90% do contêiner */
    margin: 0 auto; /* centraliza o contêiner */
  }

  & li {
    flex: 1 1 200px; /* flexível com largura mínima de 200px */
    list-style: none; /* remove marcadores da lista */
    text-align: center; /* centraliza o texto */
    padding: 20px; /* espaçamento interno */
  }

  & h3 {
    margin-bottom: 25px; /* espaçamento inferior */
  }

  & p {
    line-height: 25px; /* altura da linha */
  }
}

/* Icones */
.fas {
  font-size: 60px; /* tamanho da fonte */
  margin-bottom: 15px; /* espaçamento inferior */
} 

.fa-shield-alt {
  color: #2cc76a; /* cor verde */
}

.fa-rocket {
  color: #ef3f29; /* cor laranja */
} 

.fa-comments {
  color: #ef8f29; /* cor amarelo-alaranjado */
}

/* prices and plans */
.pricing-container {
  padding-bottom: 5rem; /* espaçamento interno inferior */
  text-align: center; /* centraliza o texto */

  & h2 {
    font-size: 36px; /* tamanho da fonte */
  }

  & p {
    font-size: 20px; /* tamanho da fonte */
  }
}

.plans-container {
  display: flex; /* exibe os itens em linha flexível */
  justify-content: space-between; /* espaça os itens igualmente */
  width: 90%; /* largura de 90% do contêiner */
  margin: 50px auto 0; /* espaçamento superior e centraliza o contêiner */
}

.plan {
  flex: 1; /* flexível */
  max-width: 275px; /* largura máxima */
  margin: 0 20px; /* espaçamento lateral */

  & ul {
    padding: 0; /* remove espaçamento interno */
  }

  & li {
    list-style: none; /* remove marcadores da lista */
    height: 50px; /* altura fixa */
    line-height: 50px; /* alinha verticalmente o texto */
    background-color: #e8e9ea; /* cor de fundo */
    color: #333; /* cor do texto */
  }

  .price {
    width: 120px; /* largura fixa */
    height: 120px; /* altura fixa */
    border-radius: 50%;
    background-color: #2cc76a; /* cor de fundo */
    color: #fff; /* cor do texto */
    text-align: center; /* centraliza o texto */
    line-height: 120px; /* alinha verticalmente o texto */
    margin: 0 auto -50px; /* centraliza e posiciona */
    font-size: 18px; /* tamanho da fonte */
    position: relative; /* posicionamento relativo */
  }

  .plan-name {
    font-size: 20px; /* tamanho da fonte */
    font-weight: bold; /* negrito */
    color: #fff; /* cor do texto */
    background-color: #202b34; /* cor de fundo */
    padding: 50px 0; /* espaçamento interno superior e inferior */
  }

  .plan-btn {
    background-color: #2cc76a; /* cor de fundo */
    color: #fff; /* cor do texto */
    font-size: 24px; /* tamanho da fonte */
    height: 75px; /* altura fixa */
    line-height: 75px; /* alinha verticalmente o texto */
    cursor: pointer; /* cursor de ponteiro */
  } 

  .recommended {
    background-color: #ef3f29; /* cor de fundo laranja */
  }
}

/* Search domain */
.search-domain-container {
  background-color: #34454e; /* cor de fundo */
  text-align: center; /* centraliza o texto */
  padding: 5rem 0; /* espaçamento interno superior e inferior */

  h2 {
    color: #fff; /* cor do texto */
    font-size: 42px; /* tamanho da fonte */
    margin-bottom: 15px; /* espaçamento inferior */
  }

  p {
    color: #d5d5d5; /* cor do texto */
    font-size: 24px; /* tamanho da fonte */
    margin-bottom: 25px; /* espaçamento inferior */
  }

  input {
    display: block; /* exibe como bloco */
    border: none; /* remove borda */
    border-radius: 5px; /* bordas arredondadas */
    margin: 0 auto; /* centraliza o input */
  }

  input[type="text"] {
    width: 60%; /* largura de 60% do contêiner */
    padding: 20px; /* espaçamento interno */
    font-size: 20px; /* tamanho da fonte */
    margin-bottom: 25px; /* espaçamento inferior */
  } 

  input[type="submit"] {
    border-radius: 10px; /* bordas arredondadas */
    background-color: #2cc76a; /* cor de fundo */
    padding: 15px 30px; /* espaçamento interno */
    color: #fff; /* cor do texto */
    font-size: 24px; /* tamanho da fonte */
    cursor: pointer; /* cursor de ponteiro */
    opacity: 0.9; /* opacidade */
  }
}

.search-domain-container input[type="submit"]:hover {
  opacity: 1; /* opacidade ao passar o mouse */
}

/* Contact container */
.contact-container {
  text-align: center; /* centraliza o texto */
  padding: 5rem 0 2rem 0; /* espaçamento interno superior e inferior */

  p {
    font-size: 20px; /* tamanho da fonte */
    margin-bottom: 40px; /* espaçamento inferior */
  }

  input[type="text"],
  input[type="email"] {
    width: 60%; /* largura de 60% do contêiner */
    padding: 10px 20px; /* espaçamento interno */
    font-size: 16px; /* tamanho da fonte */ 
    border-radius: 10px; /* bordas arredondadas */
    border: 1px solid #ccc; /* borda cinza clara */
    margin: 0 10px 20px; /* espaçamento lateral e inferior */
  }

  textarea {
    width: 60%; /* largura de 60% do contêiner */
    padding: 10px 20px; /* espaçamento interno */
    font-size: 16px; /* tamanho da fonte */
    border-radius: 10px; /* bordas arredondadas */
    border: 1px solid #ccc; /* borda cinza clara */
    margin: 0 10px 20px; /* espaçamento lateral e inferior */
    display: block; /* exibe como bloco */
    margin: 0 auto 20px; /* centraliza e espaçamento inferior */
    width: 60%; /* largura de 60% do contêiner */
  }

  input[type="submit"] {
    border-radius: 10px; /* bordas arredondadas */
    background-color: #2cc76a; /* cor de fundo */
    padding: 15px 30px; /* espaçamento interno */
    color: #fff; /* cor do texto */
    font-size: 24px; /* tamanho da fonte */
    cursor: pointer; /* cursor de ponteiro */
    border: none; /* remove borda */
    opacity: 0.9; /* opacidade */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* sombra leve */
  }

  input[type="submit"]:hover {
    opacity: 1; /* opacidade ao passar o mouse */
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.15); /* sombra mais intensa */

  }
}

/* Footer */
footer {
  text-align: center; /* centraliza o texto */
  font-weight: bold; /* negrito */
  margin: 20px 0 100px; /* espaçamento superior e inferior */
}

/* Responsividade */
/* small laptos a partir de 1100px */
/* Define estilos específicos para telas com largura máxima de 1100px */
@media (max-width: 1100px) { 
  .plans-container {
    width: 95%;  /* largura de 95% do contêiner */
  }
  .plan {
    margin: 0 5px; /* espaçamento lateral reduzido */
  }
}


/* Tablet 900px */
/* Define estilos específicos para telas com largura máxima de 900px */
@media (max-width: 900px) {
  .main-banner p {
    padding: 0 6rem; /* espaçamento lateral aumentado */
  }

  .search-domain-container {
    padding: 2rem 4rem; /* espaçamento interno lateral aumentado */
  }
}

/* celular 576px */
/* Define estilos específicos para telas com largura máxima de 576px */
@media (max-width: 576px) {
  html,
  body {
    overflow-x: hidden; /* Evita scroll horizontal indesejado */
  }

  .navbar-items li {
    font-size: 2px; /* reduz o tamanho da fonte */
    margin-left: 10px; /* reduz o espaçamento entre os itens */
  }

  .navbar-items ul {
    flex-direction: column; /* organiza os itens em coluna */
  }

  .main-banner p {
    padding: 0 2rem; /* reduz o espaçamento lateral */
  }

  .plans-container {
    flex-direction: column; /* organiza os planos em coluna */
    width: 100%; /* largura total */
  }

  .plan {
    width: 100%; /* largura total */
    max-width: 100%; /* largura máxima total */
  }

  .contact-container {
    padding: 2rem 2rem; /* reduz o espaçamento interno */
  }
}