body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #ddd;
    overflow-y: auto;
}

.ipad-pro {
    width: 600px; 
    height: 730px; 
    background-color: #000;
    border-radius: 40px;
    box-shadow: 0 25px 50px rgba(11, 0, 0, 0.4);
    position: relative;
    border: 2px  1px solid #222;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.screen {
    width: 95%;
    height: 95%;
    background-color: #fff; /* A tela interna */
    border-radius: 21px; 
    position: relative;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #333;
    font-family: sans-serif;
    text-align: center;
}


/* Main button */

.main-button {
    display: inline-block;
    padding: 12px 24px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease; 

    /* Cores */
    background-color: #FF6200;
    color: white; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.main-button:hover {
    background-color: #e74e00; 
}

.main-button:active {
    opacity: 0.8;
    transform: translateY(1px);
}
