body{
    background-color: rgb(223, 228, 228);
    margin: 0;

    & header{
        padding-top: 15px;
        text-align: center;
        height: 100px;
        width: 100%;
        background-color: #b47979;
        border-bottom: 2px solid black;
    }
}

.primeiro-p{
    text-align: center;
}