html{
    font-family: Helvetica;
    background-color: #ddd;
}

.container{
    max-width: 1100px;
    background-color: #fff;
    position: relative;
    margin:  50px auto;
    padding: 20px 50px;
    border-radius: 50px;
}

.bold{
    font-weight: bold;
}

/** header */

.header{
    text-align: center;
}

.main-title{
    font-size: 40px;
}

.main-paragraph{
    font-style: italic;
}

/* Imagem destaque */


.featured-image{
 /*   text-align: center;*/
    margin-top: 30px;

    & img{
        width: 100%;
        border-radius: 22px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }
}

/* Imagem final */
.img-bold{
    & img{
        width: 100%;
        border-radius: 22px;
        margin-top: 30px;
        box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);
    }
}